@import './assets/css/variable.scss';
@import './assets/css/breakpoints.scss';

body{
  font-family: $primary-font;
  background: #F6F6F6;
}

:root{
  height: 632px;
  margin: 48px 154px;
  @include breakpoints(md) {
      margin: 24px 24px;
  }
  @include breakpoints(sm) {
      margin: 15px;
  }
}
